# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\wamp64\www\_modules\__OC_feltoltott_modulok\Chat AI with Dispatcher\3\chataiwd\upload\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
